@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --primaryColor: #ef402f;
    --secondaryColor: #f5f5f5;
    --textColor: #333;
    --primaryGradient: linear-gradient(90deg, rgb(239, 65, 45), rgb(79, 41, 32));

    --primary-fontFamily: "Roboto Mono", monospace;
    --heading-fontFamily: "Exo 2", sans-serif;
}

.body_container {
    font-family: var(--primary-fontFamily);
    font-weight: 400;
    margin-top: 72px;
}

.changeNavbarBg {
    background-color: var(--primaryColor) !important;
    /* color: white; */
    /* transition: all 0.3s ease; */
}

.navbarStyle {
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    font-family: var(--primary-fontFamily);
    font-weight: 400;
}

.fixed-top {
    z-index: 995;
}

.navbar-brand {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navbar-brand .navbar_icon {
    width: 1.7rem;
    margin-right: 0.7rem;
}

.dropdown-menu[data-bs-popper] {
    top: 94%;
    left: -29px;
}

.navListStyle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    color: var(--textColor);
}

.navListStyle li a {
    transition: all 0.3s ease;
    border-radius: 2px;
    border-radius: 1px;
    padding: 3px 0;
    color: var(--textColor);
    opacity: 0.9;
    cursor: pointer;
}


/* .navListStyle li a:hover {
    background: var(--primaryGradient);
    color: white;
} */

.container {
    height: 100% !important;
}

.landingLayout_section {
    background-color: var(--primaryColor);
    width: 100%;
    /* height: 550px; */
    min-height: 100%;
}

.landingLayout_container {
    width: 100%;
    height: 100%;
    /* min-height: 85vh; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.person-content {
    font-family: var(--primary-fontFamily);
    font-weight: 400;
    color: rgb(33, 37, 41);
    padding: 1rem 0;
    width: 50%;
}

.person-content p {
    margin: 0;
}

.person-content .name {
    font-family: var(--heading-fontFamily);
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

.person-content h1 {
    font-size: 16px;
    font-weight: 400;
    display: inline;
}

.contact_button {
    margin: 2rem 0;
    border-radius: 0;
    padding: 1rem 2.5rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.contact_button:hover {
    background-color: transparent;
    color: black;
}

.contact_button:active {
    background-color: transparent !important;
    color: black !important;
    outline: 1px solid white !important;
}

.btn_group {
    margin-bottom: 0 !important;
}

.download_cv_btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.download_cv_btn i {
    font-size: 1rem;
    margin-right: 5px;
}

.person-img {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 4rem 0 0 0;
}

.person-img img {
    width: 100%;
    max-width: 32rem;
}

.imgDesign {
    /* width: 50%; */
    /* height: 100%; */
    /* object-fit: cover; */
    width: 400px;
    height: 400px;
    border-radius: 50% 50% 0 0;
    background-color: #ffa200;
    margin-right: 150px;
}

.imgDesign img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .navbar-brand {
        font-size: 0.9rem;
    }

    .navListStyle li a {
        padding: 7px;
    }

    .landingLayout_container {
        flex-direction: column;
    }

    .person-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .person-content {
        width: 100%;
    }

    .person-content .name {
        font-size: 3rem;
    }

    .person-content {
        padding: 2rem 0 0 0;
    }

    .contact_button {
        width: 100%;
        margin: 1rem 0 0;
    }

    footer .contact_button {
        width: unset;
        margin: 0.7rem 1rem;
    }

    /* .download_cv_btn {
        margin-bottom: 1rem !important;
    } */

    .footer_container {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 425px) {
    .person-content .name {
        font-size: 2.5rem;
    }
}