html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

.headingStyle {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--primaryColor);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: calc(-1* var(--bs-gutter-y)); */
    /* margin-right: calc(-.5* var(--bs-gutter-x)); */
    /* margin-left: calc(-.5* var(--bs-gutter-x)); */
    margin: unset;
}


.btn_animation:hover {
    color: white;
    transition: all 0.3s;
}

.btn_animation::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primaryGradient);
    transition: top 0.3s;
    z-index: -1;
}

.btn_animation:hover::before {
    top: 0;
}

.btn_animation {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
}